hr.nav-separator {
    margin: 0;
    border-color: #777;
}

.nav-legacy.nav-sidebar>.nav-item>.nav-link.active {
    background-color: #5a5a5a;
}

.breadcrumb>li:last-child a
{
    color: #495057;
}

.card.with-border-top {
    border-top: 3px solid #007bff;
}